@model ST10079389_Kaushil_Dajee_PROG7311.Models.User
@{
    ViewData["Title"] = "CreateFarmer";
}
<h1>Create Farmer</h1>
<h1>Account Details</h1>
<br/>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFarmer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Username</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="border:none; width:250px; height:auto; background-color:purple; font-size:20px" />
            </div>
            <br/>
        </form>
    </div>
<hr />
    <img src="\Images\pexels-jakeheinemann-1482101.jpg" style="height: 350px;width:auto; display: block; margin-left: auto; margin-right: auto" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}